{% extends 'base.html' %}


{% block content %}



<br/>

{% if zipcode %} <!--if there is a zipcode (name from views.py), print zipcode-->
    {{ zipcode }}
{% endif %}

{% if api %}
    {% if api == "Error..." %}
        There was an error, please try again...
    {% else %}

    <div class="jumbotron {{ category_color }}"> <!--change colour to colour assigned in views.py-->
        <h1 class="display-4">{{ api.0.Category.Name }}</h1>
        <p class="lead">Current: {{ api.0.ReportingArea }} Air Quality: {{ api.0.AQI }}</p>
        
       <p>{{ category_description }}</p>
        
      </div>

    {% endif %}
{% endif %}

{% endblock %}
